#navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: dodgerBlue;
  color: white;
  font-family: verdana;
  align-items: center;

}

#navigation div {
flex-grow: 1;
padding: 1rem;
}

#homenav {
  font-size: 1.5rem;
}

body{
  font-family: verdana;
  color:gray;
}
h1, h3{
  color:gray;
}



#create-user{
  border: solid 1px black;
  color: gray;
  font-weight: bold;
  padding: 1rem;
  width: 50% ;
}

#container{
  display:flex;
  justify-content: center;

}

#form input {
  margin: 0.5rem;
}


#save {
  background-color: dodgerBlue;
  color: white;
}


#users {
  display: flex;
  align-items: space-around;
  flex-wrap: wrap;
}

#users div {
  border: solid 1px black;
  width: calc(100%/3 - 3rem);
  margin: 1rem;
  border-radius: 25px;
  text-align: center;
}

@media (max-width: 600px){
  #navigation{
    flex-direction: column;
  }
  #users{
    flex-direction: column;
  }
  #users div{
    width: 100%;
  }
  #container{
    flex-direction: column;
    width: 100%
  }
  #create-user{
    flex-direction: column;
    width:100%;
    text-align: center;
  }
  #form{
    flex-direction: column;
    width:100%;
  }

}
